#container {
  display: flex;
  flex-direction: row;
  align-items: normal;
}
#sticky {
  align-self: flex-start;
  position: sticky;
  top: 0px;
}

#main {
  margin: auto;
  display: flex;
  flex-direction: row;
}

#button:hover {
  background: gray;
}
