.tr {
  color: #316cf4;
}
.th {
  color: #0d6efd;
}

#test {
  filter: blur(10px);
  -webkit-filter: blur(8px);
}

#test2 {
  top: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  position: absolute;
  right: calc(50% - 100px);
}
